/* You can add global styles to this file, and also import other style files */
@import "main";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $primary-font;
  background: $color-gray-100;
  min-height: 100vh;
}
