$color-primary-100: #5b5c66;
$color-primary-200: #494a57;
$color-primary-300: #414250;
$color-primary-400: #323446;
$color-primary-500: #2b2d42;
$color-primary-600: #292a39;
$color-primary-700: #262732;
$color-primary-800: #212127;
$color-primary-900: #1b1c1f;

$color-secondary-100: #fefefe;
$color-secondary-200: #e5e6e8;
$color-secondary-300: #ced1d6;
$color-secondary-400: #a2aab8;
$color-secondary-500: #8d99ae;
$color-secondary-600: #7e8a9d;
$color-secondary-700: #727c8d;
$color-secondary-800: #60656e;
$color-secondary-900: #505357;

$color-error-100: #e6d3d5;
$color-error-200: #dcb5ba;
$color-error-300: #d7969e;
$color-error-400: #df4f60;
$color-error-500: #ef233c;
$color-error-600: #d1263b;
$color-error-700: #ac3241;
$color-error-800: #7a3a42;
$color-error-900: #59383c;

$color-success-100: #c8e6c9;
$color-success-200: #a5d6a7;
$color-success-300: #81c784;
$color-success-400: #66bb6a;
$color-success-500: #4caf50;
$color-success-600: #43a047;
$color-success-700: #388e3c;
$color-success-800: #2e7d32;
$color-success-900: #1b5e20;

$color-warning-100: #fff3e0;
$color-warning-200: #ffcc80;
$color-warning-300: #ffb74d;
$color-warning-400: #ffa726;
$color-warning-500: #ff9800;
$color-warning-600: #fb8c00;
$color-warning-700: #f57c00;
$color-warning-800: #ef6c00;
$color-warning-900: #e65100;

$color-gray-100: #fff;
$color-gray-300: #e2e2e2;
$color-gray-500: #b1b2b2;
$color-gray-600: #767676;
$color-gray-700: #4d4d4d;
$color-gray-800: #1c1c1c;
$color-gray-900: #0d0d0d;
