$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

.p1 {
  font-size: 18px;
}

.p2 {
  font-size: 16px;
}

.p3 {
  font-size: 14px;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  color: $color-primary-800;
}
h1 {
  font-size: 28px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 16px;
}
